.kiev__text {
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 30px;
    word-break: break-word;
}
@media screen and (max-width: 700px){
    .kiev__text {
        text-align: center;
        width: 90%;
        margin: 30px auto;
    }
}
@media screen and (max-width: 768px){
    .kiev__text {
        font-size: 16px;
        line-height: 26px;
    }
}